@import './variables.scss';

.activity {
  padding-bottom: 4.375rem;
}

.activity__title {
  font-size: 2.625rem;
  font-weight: 900;
  line-height: 1.23;
  text-transform: uppercase;

  margin-bottom: 2.375rem;
}

.activity__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  row-gap: 2.5rem;

  &--sec {
    grid-template-columns: repeat(4, 1fr);
  }
}

.activity__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 22.625rem;
  padding: 1.75rem 1.75rem 1.875rem 1.25rem;

  border-radius: 1rem;
  background-image: url('../assets/images/act1-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../assets/images/act1-2x.jpg');
  }

  &--2 {
    background-image: url('../assets/images/act2-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act2-2x.jpg');
    }
  }

  &--3 {
    background-image: url('../assets/images/act3-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act3-2x.jpg');
    }
  }

  &--4 {
    background-image: url('../assets/images/act8-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act8-2x-min.jpg');
    }
  }

  &--5 {
    background-image: url('../assets/images/act9-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act9-2x-min.jpg');
    }
  }

  &--6 {
    background-image: url('../assets/images/act10-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act10-2x-min.jpg');
    }
  }

  &--7 {
    background-image: url('../assets/images/act11-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act11-2x-min.jpg');
    }
  }

  &--8 {
    background-image: url('../assets/images/act12-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act12-2x-min.jpg');
    }
  }

  &--9 {
    background-image: url('../assets/images/act13-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act13-2x-min.jpg');
    }
  }

  &--10 {
    background-image: url('../assets/images/act14-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act14-2x-min.jpg');
    }
  }

  &--11 {
    background-image: url('../assets/images/act15-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act15-2x-min.jpg');
    }
  }

  &--12 {
    background-image: url('../assets/images/act16-1x-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act16-2x-min.jpg');
    }
  }
}

.proj {
  &--1 {
    background-image: url('../assets/images/act4-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act4-2x.jpg');
    }
  }

  &--2 {
    background-image: url('../assets/images/act5-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act5-2x.jpg');
    }
  }

  &--3 {
    background-image: url('../assets/images/act6-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act6-2x.jpg');
    }
  }

  &--4 {
    background-image: url('../assets/images/act7-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act7-2x.jpg');
    }
  }
}

.activity__img {
  margin-bottom: auto;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.45));
}

.activity__subtitle {
  display: block;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
}

.activity__city {
  font-family: 'DIN Pro';
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  margin-bottom: 1.25rem;

  &--sec {
    margin-bottom: 1.25rem;
  }
}

.activity__sale {
  display: inline-block;
  padding: 0.25rem 0.75rem 0.25rem 1.25rem;
  margin-left: -1.25rem;
  margin-bottom: 0.75rem;
  background-color: #0F0F0F;

  font-size: 1rem;
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;

  &--banner {
    margin-left: -1.875rem;
  }

  &--sec {
    margin-bottom: 0;
  }
}

.activity__btns {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  width: 100%;

  &--sec {
    display: block;
  }
}

.activity__btn {
  &--sec {
    margin-bottom: 0.625rem;
  }
}

ul[data-vis="false"], li[data-vis="false"], section[data-vis="false"] {
  display: none;
}

@media (max-width: 1199px) {
  .activity__list {
    &--sec {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .activity__city {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .activity__list {
    &--sec {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .activity__city {
    font-size: 2.25rem;
    line-height: 1.18;
  }
}

@media (max-width: 767px) {
  .activity {
    padding-bottom: 2.75rem;
  }

  .activity__title {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  .activity__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .activity__item {
    padding: 1.25rem 0.625rem 1rem;
    min-height: 15.3125rem;
  }

  .activity__img {
    width: 3.5rem;
  }

  .activity__subtitle {
    font-size: 0.875rem;
  }

  .activity__city {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    word-break: break-all;
    white-space: normal;

    &--spb {
      word-break: normal;
    }
  }

  .activity__sale {
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
    margin-left: -0.625rem;
    margin-bottom: 0.875rem;

    &--banner {
      margin-left: -1.5rem;
    }
  }

  .activity__btns {
    margin: 0;
    width: auto;
  }
}