@import './variables.scss';

.activity {
  padding-bottom: 4.375rem;
}

.activity__pos-block {
  position: relative;
}

.activity__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.375rem;
}

.activity__reset {
  width: 10.375rem;
  background: linear-gradient(267.53deg, #ED1C24 -0.27%, #8820B9 100%);
}

.activity__title {
  font-size: 2.625rem;
  font-weight: 900;
  line-height: 1.23;
  text-transform: uppercase;

  margin-right: 2.25rem;
}

.activity__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  row-gap: 2.5rem;

  &--sec {
    grid-template-columns: repeat(4, 1fr);
  }
}

li[data-vis="false"] {
  display: none;
}

.activity__item {
  grid-column: auto / span 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 22.625rem;
  padding: 1.75rem 1.75rem 1.875rem 1.25rem;

  border-radius: 1rem;
  background-image: url('../assets/images/1@2x-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &--2 {
    background-image: url('../assets/images/2@2x-min.png');

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //   background-image: url('../assets/images/act2-2x.jpg');
    // }
  }

  &--3 {
    background-image: url('../assets/images/3@2x-min.png');
  }

  &--4 {
    background-image: url('../assets/images/4@2x-min.png');
  }

  &--5 {
    background-image: url('../assets/images/5@2x-min.png');
  }

  &--6 {
    background-image: url('../assets/images/6@2x-min.png');
  }

  &--7 {
    background-image: url('../assets/images/7@2x-min.png');
  }

  &--8 {
    background-image: url('../assets/images/8@2x-min.png');
  }

  &--9 {
    background-image: url('../assets/images/9@2x-min.png');
  }

  &--10 {
    background-image: url('../assets/images/10@2x-min.png');
  }


  &--sec {
    grid-column: auto / span 3;
  }

  &--arena {
    background-image: url('../assets/images/12@2x-min.png');
  }

  &--games {
    background-image: url('../assets/images/13@2x-min.png');
  }

  &--merch {
    grid-column: auto / span 6;
    background-image: url('../assets/images/14@2x-min.png');
  }

  &--camp1 {
    background-image: url('../assets/images/16@2x-min.png');
  }

  &--camp2 {
    background-image: url('../assets/images/15@2x-min.png');
  }

  &--camp3 {
    background-image: url('../assets/images/17@2x-min.png');
  }
}

.activity__img {
  margin-bottom: auto;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.45));
}

.activity__subtitle {
  display: block;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
  text-transform: uppercase;
}

.activity__city {
  font-family: 'DIN Pro';
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  margin-bottom: 1.25rem;

  &--sec {
    font-size: 2.5rem;
  }

  &--camp {
    font-size: 1.75rem;
  }
}

.activity__sale {
  display: inline-block;
  padding: 0.25rem 0.75rem 0.25rem 1.25rem;
  margin-left: -1.25rem;
  margin-bottom: 0.75rem;
  background-color: #0F0F0F;

  font-size: 1rem;
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;

  &--banner {
    margin-left: -1.875rem;
  }

  &--sec {
    margin-bottom: 0;
  }
}

.activity__btns {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  width: 100%;

  &--sec {
    display: block;
  }
}

.activity__btn {
  &--sec {
    margin-bottom: 0.625rem;
  }
}

.activity__mobile-def {
  display: none;
}

@media (max-width: 1199px) {
  .activity__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .activity__item {
    grid-column: auto;

    &--merch {
      grid-column: auto;
    }
  }

  .activity__city {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .activity__list {
    &--sec {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .activity__item {
    &--two {
      grid-column: auto / span 2;
    }

    &--camp2, &--camp3 {
      order: 1;
    }
  }

  .activity__city {
    font-size: 2.25rem;
    line-height: 1.18;
  }
}

@media (max-width: 767px) {
  .activity {
    padding-bottom: 2.75rem;
  }

  .activity__mobile-def {
    display: inline;
    opacity: 0;
  }

  .activity__pos-block {
    margin-bottom: 1.875rem;
    padding-bottom: 2.5rem;
  }
  .activity__reset-btn {
    position: absolute;
    bottom: 0;
  }

  .activity__reset {
    min-height: 1.875rem;
  }

  .activity__wrapper {
    margin-bottom: 1rem;
  }

  .activity__title {
    font-size: 2rem;
    line-height: 1.25;
    margin-right: 0;
  }

  .activity__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .activity__item {
    padding: 1.25rem 0.625rem 1rem;
    min-height: 15.3125rem;

    &--merch, &--camp1 {
      grid-column: auto / span 2;
      min-height: 20rem;
    }

    &--camp1 {
      min-height: 22.625rem;
    }
  }

  .activity__img {
    width: 3.5rem;

    &--merch {
      margin-bottom: 1rem;
    }

    &--sec {
      margin-bottom: 0.625rem;
    }
  }

  .activity__subtitle {
    font-size: 0.625rem;
  }

  .activity__city {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    word-break: break-all;
    white-space: normal;

    &--spb {
      word-break: normal;
    }

    &--sec {
      word-break: break-word;
    }

    &--merch {
      font-size: 3rem;
      margin-bottom: 1.25rem;
    }

    &--camp1 {
      font-size: 2.5rem;
      word-break: break-word;
    }

    &--break {
      font-size: 1.375rem;
    }

    &--ns {
      max-width: 6rem;
    }

    &--vs {
      max-width: 7rem;
    }

    &--eb {
      max-width: 7.2rem;
    }
  }

  .activity__sale {
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
    margin-left: -0.625rem;
    margin-bottom: 0.875rem;

    &--banner {
      margin-left: -1.5rem;
    }

    &--merch {
      margin-bottom: auto;
    }
  }

  .activity__btns {
    margin: 0;
    width: auto;
  }
}

@media (max-width: 375px) {
  .activity__city {
    &--merch {
      font-size: 2.6rem;
    }
  }
}