@import './variables.scss';

.activity {
  padding-bottom: 2.8125rem;
}

.activity__title {
  font-size: 2.625rem;
  font-weight: 900;
  line-height: 1.23;
  text-transform: uppercase;

  margin-bottom: 3.75rem;
}

.activity__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 3.125rem;

  &--sec {
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

.activity__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 22.625rem;
  padding: 1.75rem 1.75rem 1.875rem 1.25rem;

  border-radius: 1rem;
  background-image: url('../assets/images/act1-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../assets/images/act1-2x.jpg');
  }

  &--2 {
    background-image: url('../assets/images/act2-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act2-2x.jpg');
    }
  }

  &--3 {
    background-image: url('../assets/images/act3-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act3-2x.jpg');
    }
  }
}

.proj {
  &--1 {
    background-image: url('../assets/images/act4-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act4-2x.jpg');
    }
  }

  &--2 {
    background-image: url('../assets/images/act5-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act5-2x.jpg');
    }
  }

  &--3 {
    background-image: url('../assets/images/act6-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act6-2x.jpg');
    }
  }

  &--4 {
    background-image: url('../assets/images/act7-1x.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/act7-2x.jpg');
    }
  }
}

.activity__img {
  margin-bottom: auto;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.45));
}

.activity__subtitle {
  display: block;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
}

.activity__city {
  font-family: 'DIN Pro';
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;

  margin-bottom: 3.3125rem;

  &--sec {
    margin-bottom: 1.25rem;
  }
}

.activity__sale {
  display: inline-block;
  padding: 0.25rem 0.75rem 0.25rem 1.25rem;
  margin-left: -1.25rem;
  margin-bottom: 0.75rem;
  background-color: #0F0F0F;

  font-size: 1rem;
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;

  &--banner {
    margin-left: -1.875rem;
  }

  &--sec {
    margin-bottom: 0.5rem;
  }
}

.activity__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;

  &--sec {
    display: block;
  }
}

.activity__btn {
  &--sec {
    margin-bottom: 0.625rem;
  }
}
