@import './variables.scss';

.banner {
  grid-column: 1 / span 12;
  display: flex;
  position: relative;
  border-radius: 1rem;
  padding: 1.875rem;
  background-image: url('../assets/images/11@2x-min.png');
  background-size: cover;
  background-repeat: no-repeat;

  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url('../assets/images/banner-2x.jpg');
  // }
}

.banner__title {
  font-family: 'DIN Pro';
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

.banner__text {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}

.banner__btns {
  display: flex;
  align-items: center;
}

.banner__btn {
  margin-right: 1.25rem;
  margin-bottom: 0;
}

.banner__logo {
  margin: auto 4rem auto auto;
  flex-shrink: 0;
}


@media (max-width: 1199px) {
  .banner {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 1130px) and (min-width: 992px) {
  .banner__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 991px) {
  .banner__title {
    font-size: 2.5rem;
    line-height: 1;
  }

  .banner__logo {
    width: 12rem;
    margin: auto 2.5rem auto auto;
  }

  .banner__btns {
    display: block;
  }

  .banner__btn {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1.5rem 1.25rem;
    background-image: url('../assets/images/banner1x-mob-min.jpg');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../assets/images/banner2x-mob-min.jpg');
    }
  }

  .banner__logo {
    order: -1;
    width: 6.25rem;
    margin: 0 0 1.125rem;
  }

  .banner__title {
    font-size: 3rem;
    margin-bottom: 1.125rem;
  }

  .banner__text {
    display: none;
  }

  .banner__btn {
    width: 10.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      width: 9.75rem;
      margin: 0;
    }
  }
}