.first {
  margin-bottom: 6.8125rem;
}

.first__subtitle {
  display: block;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.166;

  margin-bottom: 3.125rem;
}

.first__title {
  font-size: 5.625rem;
  font-weight: 900;
  line-height: 1.244;
  text-transform: uppercase;

  margin-bottom: 2.25rem;
  max-width: 55rem;
}

.first__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333;
  color: #646464;

  max-width: 37rem;
}

.first__image {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;

  &--balls {
    top: 10rem;
    right: -5rem;
  }
}

@media (max-width: 1130px) and (min-width: 992px) {
  .first__image {
    top: 7.5rem;
    width: 36.25rem;

    &--balls {
      width: 30rem;
    }
  }
}

@media (max-width: 991px) {
  .first__image {
    top: 0rem;
    width: 36.25rem;

    &--balls {
      top: 10rem;
      width: 25rem;
    }
  }

  .first__title {
    font-size: 3rem;
    line-height: 1.25;
    max-width: 30rem;
  }

  .first__subtitle {
    max-width: 20rem;
  }

  .first__text {
    max-width: 26rem;
  }
}

@media (max-width: 767px) {
  .first {
    margin-bottom: 2.25rem;
  }

  .first__image {
    width: 20rem;
    top: 4rem;
    z-index: -1;
    right: -2rem;

    &--balls {
      top: 4.5rem;
      right: -4rem;
      width: 14rem;
    }
  }

  .first__subtitle {
    font-size: 0.875rem;
    line-height: 1.14;
    max-width: 13.5rem;
    margin-bottom: 2.25rem;
  }

  .first__title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    max-width: 15rem;
  }

  .first__text {
    font-size: 0.875rem;
    line-height: 1.29;
  }
}