@import './mixin.scss';

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


* {
  box-sizing: border-box;

  &:focus {
    outline: 2px solid #FFB800;
  }

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    color: white;
    background-color: #0F0F0F;
}


input {
    border-radius:0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

picture {
  font-size: 0;
  line-height: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.colorized-text {
  @include color_text;
}