@import './mixin.scss';

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


* {
  box-sizing: border-box;

  &:focus {
    outline: 2px solid #FFB800;
  }

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    color: white;
    background-color: #0F0F0F;
}


input {
    border-radius:0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

picture {
  font-size: 0;
  line-height: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.colorized-text {
  color: #FB4C84;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  min-height: 1.875rem;

  background: none;
  border: none;
  border-radius: 1.875rem;

  font-family: 'Gilroy', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.166;
  color: white;
  text-align: center;
  cursor: pointer;

  &--promo {
    background-color: #465A82;
    width: 10.5625rem;
  }

  &--href {
    background: linear-gradient(267.53deg, #ED1C24 -0.27%, #8820B9 100%);
    width: 9.75rem;
  }
}