.header {
  padding: 2.375rem 0;
  margin-bottom: 1.375rem;
}

.header__logo {
  display: inline-block;
  margin-right: 1.25rem;
}

@media (max-width: 991px) {
  .header__logo {
    width: 3.625rem;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .header__bf {
    width: 15rem;
  }
}

@media (max-width: 767px) {
  .header {
    display: flex;
    padding: 2.25rem 0;
    margin-bottom: 1rem;
  }

  .header__bf {
    width: calc(100% - 4.5rem);
  }
}